<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceIBM" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49905/ServiceIBM.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceIBM" contract="ServiceReferenceIBM.IServiceIBM"
                name="BasicHttpBinding_IServiceIBM" />
        </client>
    </system.serviceModel>
</configuration>